
.form_content {
    display: grid;
    grid-template-columns: 0.2fr 0.7fr;
    gap:5%;
    width: 98%;
    padding-top: 2%;
    padding-left: 0.5%;
    padding-bottom: 1%;
    height:fit-content;
    margin: 1%;
}


#registro_datos {
    border-radius: 50px;
    background-color: #22577E;
    display: grid;
    grid-template-columns: 0.5fr 0.2fr;
    gap: 10px;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
    width: 100%;
    height: max-content;
    padding-right: 2%;
    
}

#registro_datos label {
    display: block;
    margin-bottom: 5px;
    color: white;
    width: fit-content;
    font-family: "Segoe UI";
    padding-right: 1%;
}


.colocarBtn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.btnForm {
    background-color: #95D1CC;
    border: none;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    font-family: "Segoe UI";
    color:#22577E;
    /* font-weight: bold; */
    font-size: medium;
}

.btnForm:hover{
    box-shadow: 7px 5px 7px 0px rgba(144, 228, 243, 0.912);
    color:rgb(221, 78, 26);
}

#editBtn{
    font-family: "Segoe UI";
    color:#ffffff;
    background-color: #22577E;
    border-radius: 20px;
    border: 0;    
    width: 100%;
}

#editBtn:hover{
    background-color: coral;
    cursor:pointer;
}

#deleteBtn:hover{
    background-color: coral;
    cursor:pointer;
}

#deleteBtn{
    font-family: "Segoe UI";
    color:white;
    background-color: #16ccae;
    border-radius: 20px;
    border: 0;
    width: 100%;
}

.mostrarDatos{
    width: 100%;
    overflow-x: auto; /* Agrega barra de desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si es necesario */
}

th{
    font-weight: normal;
}

.seccion_datos {
    border: solid 5px #5584AC;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    max-height: 500px;
}

.tabla_datos {
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    background-color: #95D1CC;
    padding: 0;
}


.tablaDatos td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;    
    font-weight: normal;
    font-family: "Segoe UI";
}

.tablaDatos {
    width: 100%;

}

.tablaHead th {
    background-color: #5584AC;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
    font-family: "Segoe UI";
    font-weight: normal; 
}


td {
    width: 100%;
}

tbody tr {
    cursor: pointer;
    background-color: #95D1CC;
    width: 100%;
    font-family:"Segoe UI";
    font-weight:normal;
    
}

tbody tr:hover {
    background: white;
}

#celdaNombre,
#celdaApellido,
#celdaApellido2,
#celdaEmail,
#celdaTelefono,
#celdaBtnEditar,
#celdaBtnEliminar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


@media screen and ( max-width:430px) {  

    .form_content {
        display:flex;
        flex-direction: column;
        
        width: 98%;
        padding-top: 2%;
        padding-left: 0.5%;
        padding-bottom: 1%;
        height:fit-content;
        margin: 1%;
    }
    
    
}